*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
    color:#333;
    line-height: 1.6;
}

.header {
    background-color: #192333;
    color: white;
    text-align: center;
    padding: 60px 20px;
}
.header h1{
    font-size: 2.7em;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.header .subtitle{
    font-size: 1.2em;
    font-weight: 100;
    font-style: italic ;
    opacity: 0.9;
}

/* Main Layout */
.container{
    max-width: 1500px ;
    margin: 0 auto;
    padding: 0 20px ;
}
.section-card{
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.white-bg{
    background-color: white;
    margin-top: 40px;
}
.light-blue-bg{
    background-color: #daf0ff;
    position: relative;
}
.light-orange-bg{
    background-color: #fef0bf;
}
.light-purple-bg{
    background-color: #eae6fe;
    font-weight: 100;
    font-style: italic;
}
.blue-bg{
    background-color: #daf0ff;
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    background-color: #192333;
    color: white;
    text-align: center;
    padding: 20px 20px;
}
.education-item {
    max-width: 1000px;
    text-align: center;
    position: relative;
    background-color: white;
    margin: 15px auto;
    padding: 10px 20px;
    font-size: 1.1em;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}