*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    justify-items: center;
    align-content: center;
}
main{
    height: 700px;
    width: 700px;
    background: #000;
    display: grid;
    grid-template-columns: 1fr 30% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "one two three"
                         "one four five"
                         "six six five";
    border: 10px solid #8d8c8c;
    padding: 10px;
}
#one{
    background-color: skyblue;
    grid-area: one;
    border-radius: 40px;
}
#two{
    background-color:orange ;
    grid-area: two;
    border-radius: 40px;
}
#three{
    background-color:yellow ;
    grid-area: three;
    border-radius: 40px;
}
#four{
    background-color: green;
    grid-area: four;
    border-radius: 40px;
}
#five{background-color:blue ;
    grid-area: five;
    border-radius: 40px;
}
#six{
    background-color: greenyellow ;
    grid-area: six;
    border-radius: 40px;
}