@font-face {
    font-family: Ag;
    src: url(BambooBrush-X3lVa.otf);
}
@font-face {
    font-family: pf;
    src: url(NewValueRegular-2vVl3.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1621750627159-cf77b0b91aac?q=80&w=1331&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
h1{
    font-family: Ag;
    color: white;
    font-size: 110px;
    letter-spacing: 10px;
    word-spacing: 20px;
    margin-bottom: 30px;
}
button{
    background-color: #bf8e6b;
    color: black;
    font-size: 28px;
    padding: 10px 40px;
    border: none;
    border-radius: 9px;
    font-weight: 100;
    font-family: pf;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
}