*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    height:100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr 0.5fr 0.5fr;
    grid-template-areas: "header header header"
                         "section section section"
                         "left bottom-up right"
                         "left bottom-down right";
}
header{
    background-color: maroon;
    grid-area: header;
}
section{
    background-color: darkblue;
    grid-area: section;
}
#left{
    background-color: mediumaquamarine;
    grid-area: left;
}
#right{
    background-color: mediumorchid;
    grid-area: right;
}
#bottom-up{
    background-color: rgb(118, 118, 158);
    grid-area: bottom-up;
}
#bottom-down{
    background-color: orange;
    grid-area: bottom-down;
}
